body {
    color: rgb(204, 82, 1);
    line-height: 1.5px;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    
}
p {
    font-size: larger;
}
@font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); } 
@font-face { font-family: Delicious; font-weight: bold; src: url('Delicious-Bold.otf');}
.container{
    color: #FFF;
    background: rgb(2, 0, 36);
    align-items: center;
    padding-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(109,9,61,0.1786243252362265) 29%, rgba(0,212,255,1) 100%);
}
.row{
    height :100px
}
.row-expand{
    height: 500px
}
.row-expand2{
    height: 490px;
}
footer {
    padding-top: 100px;
}
.button {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.822);
    color: aliceblue;
}
img{
    width: 500px ;
    height: 350px;
}
p, ul{
    font-weight: 500;
    color:rgb(255, 255, 255)
}
h3 :hover {
    color: rgb(255, 255, 255);
}
.button-hover {
    border-radius: 5px;
    background-color: aliceblue;
    color: rgba(0, 0, 0, 0.822);
    border-color: aliceblue;
}
.showflexed {
    display: inline-flexbox;
}
p, h3, .image, a, .b1, .b2, .b3, .b4, .b5, .b6, ul, .h1,h2, .img1, .img2,h3
, .img3, .p1, .img4, .img5, .p2, .p3, .p4, .p5,.p6,.p7,.p8,.p9,.p10
{
    display: none;
}
